
.shopping-cart {
    background-color: #f7f5ec;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    padding: 20px;
}
.shopping-cart .shopping-cart-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 15px;
}
.shopping-cart .shopping-cart-items {
    padding: 20px;
}
